data/cifar10/cifar-10-python.tar.gz
data/cifar10/cifar-10-batches-py/batches.meta
data/cifar10/cifar-10-batches-py/data_batch_1
data/cifar10/cifar-10-batches-py/data_batch_2
data/cifar10/cifar-10-batches-py/data_batch_3
data/cifar10/cifar-10-batches-py/data_batch_4
data/cifar10/cifar-10-batches-py/data_batch_5
data/cifar10/cifar-10-batches-py/test_batch
data/cifar100/cifar-100-python.tar.gz
checkpoint/cifar10/resnet18/best_model.pth
checkpoint/cifar10/resnet50/best_model.pth
checkpoint/cifar100/resnet18/best_model.pth
data/cifar100/cifar-100-python/train
data/cifar100/cifar-100-python/file.txt~
data/cifar100/cifar-100-python/meta
data/cifar100/cifar-100-python/test

checkpoint/cifar100/resnet50/best_model.pth

